{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./components",
        "src": "./src",
        "static": "./static"
      }
    }]
  ]
}