@import './styles/variables';
.icon__social {
  width: 24px;
}

.tel {
  right: 14px;
  position: absolute;
  font-size: 12px;
  bottom: -2px;
  z-index: 9999;
  a:hover,
  a>svg:hover {
    color: #ffffff;
  }
  .icon {
    margin-right: 10px;
    color: #62696f;
  }
  .number {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.header__social {
  li {
    // a>i:global(.bi) {
    //   height: 100%;
    //   width: 24px;
    //   font-size: 25px;
    //   padding-right: 25px;
    //   line-height: 35px;
    //   color: #111111
    // }
    // a>i:hover {
    //   color: #d81npm f00;
    // }
    padding-right: 10px;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    li {
      a>i:global(.bi) {
        padding-right: 15px;
      }
    }
    li:last-child {
      padding-right: 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    li {
      a>i:global(.bi) {
        padding-right: 10px;
      }
    }
    li:last-child {
      padding-right: 15px;
    }
  }
}

.mobile__logo {
  z-index: 9999;
}

.icon {
  margin-right: 5px;
  padding-bottom: 2px;
}

:global {
  .mean-container .mean-bar {
    right: 0px;
  }

  .header__area {
    .logo {
      text-align: center;
      width: 82px;
      padding-top: 0px;
      float: left;
      margin-right: 8vh;
      z-index: 99999;
    }
    .logo img {
      border-radius: 50px;
      box-shadow: 1px 1px 2px #444444;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .logo {
        text-align: left;
        padding-left: 20px;
      }
      .logo img {
        width: 62px;
      }
    }
    @media only screen and (max-width: 767px) {
      .logo {
        text-align: left;
        padding-left: 20px;
      }
      .logo img {
        width: 62px;
      }
    }
  }
  .header__absolute {
    padding: 4vh 0 7vh;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding: inherit;
    }
    @media only screen and (max-width: 767px) {
      padding: inherit;
    }
  }
  .header__absolute.sticky__header.is-sticky {
    padding: 0px;
  }
  .is-sticky .header__social li a>i.bi {
    color: #fff;
  }
  .header__absolute.sticky__header.is-sticky .MainMenu>.Logo {
    display: none;
  }
}