.title {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0px 12px;

  background: #fff;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.07);
  display: inline-block;
  font-family: "Lato", sans-serif;
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.item__box {
  font-family: 'Kanit', sans-serif;
  margin-top: 30px;
}

.title__box {
  // font-family: 'Kanit', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
  background: #5555555c none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  line-height: 25px;
  padding: 15px 10px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
  width: 100%;
}